body {
  text-align: center;
    color: #40514E;
    margin: 0;
    font-family: 'Merriweather', serif;

}
h1 {
  width: 17%;
  margin: 0 auto;
  margin-top: 0;
  margin-top: 100px;
  margin-left: 580px;
  font-size: 5.62rem;
  font-family: '', cursive;
  color: #6ca334;
}

  hr {
      width: 300px;
      border-color: #f6f6f6;
  }


.top-container{
 background-color: #C7E4FF;
 width:1000px;
 height:1000px;
}
.middle-container {
  padding-top: 50px;
    background-color: white;
    margin-top: 0;
    margin-left: 0;
    height: 1750px;
    width: 1350px;
}

.skill-row {
  padding-top: 50px;
  margin-left: 300px;
  margin-right: 300px;
}
.skills-image {
    width: 200px;
    height: 200px;
}

.skills {
  padding-top: 50px;
  font-family: 'Montserrat', serif;
    color: #729949;
    font-size: 3rem;
}

.bottom-container {
  padding-top: 50px;
  background-color: black;
  width: 1350px;
}
.contact-me {
padding-top: 50px;
}

.word {
  text-align: center;
  font-family: 'Merienda One',serif;
}

.text {
  color: #6ca334;
  font-size: 3rem;
    margin-left: 400px;
}
.balloon {
  position: absolute;
  left: 1000px;
  top: 300px;
}

.b-cloud {
  position: absolute;
  left: 910px;
  top: 500px;
}
.right {
  position: absolute;
  top: 300px;
  left: 300px;
  width: 150px;
}

.top {
  position: absolute;
  right:400px;

}
.mountain {
  align-items: center;
  width: 587px;
    height: 387px;
    margin-left: 400px;
    margin-right: 400px;
}
.scarf {
  width: 224px;
  height: 407;
}

.computer {
    width: 250px;
}

.hello {
  font-family: 'Montserrat', serif;
    color: #729949;
    font-size: 3rem;
      margin-bottom: 50px;
      margin-top: 50px;
      margin: center;
      margin-right: 560px;
    margin-left: 560px;
}
.footer-link {
  text-decoration: none;
  margin: auto;
  text-align: center;
  margin: 10px 20px;
}

.myButton {
	box-shadow: 0px 10px 14px -7px #276873;
	background:linear-gradient(to bottom, #599bb3 5%, #408c99 100%);
	background-color:#599bb3;
	border-radius:8px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Times New Roman;
	font-size:14px;
	font-weight:bold;
	padding:13px 32px;
	text-decoration:none;
	text-shadow:0px 1px 0px #3d768a;
}
.myButton:hover {
	background:linear-gradient(to bottom, #408c99 5%, #599bb3 100%);
	background-color:#408c99;
}
.myButton:active {
	position:relative;
	top:1px;
}
